.ember-histo-slider__css-fix {
  background: #red;
}

.ember-histo-slider__rect--excluded {
  fill-opacity: 0.5;
}

/* second approach */

$padding: 4px;
$border-color: #CCC;

.ember-histo-slider {
  background-color: inherit;
  position: relative;

  &__slider {
    width: 100%;

    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;

    padding-top: 2 * $padding;
    padding-left: $padding;
    padding-right: $padding;
  }

  &__histogram {
    background-color: inherit;
    padding-top: $padding;
    padding-left: $padding;
    padding-right: $padding;
    width: 100%;
  }

  &__svg {
    width: 100%
  }

  &--floating {
    .ember-histo-slider__histogram {
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      visibility: hidden;
      pointer-events: none;

    }
  }

  &--active {
    .ember-histo-slider__histogram {
      visibility: visible;
      pointer-events: all;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-left: 1px solid $border-color;
      border-right: 1px solid $border-color;
      border-top: 1px solid $border-color;
    }

    .ember-histo-slider__slider {

      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-bottom: 1px solid $border-color;
      border-left: 1px solid $border-color;
      border-right: 1px solid $border-color;
    }
  }
}
