{{histo-slider/meta-histogram
  currentBinIndex=currentBinIndex
  metaData=metaData
  uniqueHistoSliderId=uniqueHistoSliderId}}
<div class={{concat "ember-histo-slider__slider " uniqueSliderId}}>
  {{range-slider
    connect="upper"
    on-update="updateValue"
    on-change="setValue"
    on-start=(action (mut isSliding) true)
    on-end=(action (mut isSliding) false)
    range=range
    start=(object-at 0 startValue)}}
</div>
