<div class="ember-histo-slider__histogram">
  {{histo-slider/meta-histogram
    currentBinIndex=currentBinIndex
    metaData=metaData
    histogramHeight=histogramHeight
    uniqueHistoSliderId=uniqueHistoSliderId}}
</div>
<div class={{concat "ember-histo-slider__slider " uniqueSliderId}}>
  {{range-slider
    connect="upper"
    on-update="updateValue"
    on-change="setValue"
    on-start=(action (mut isSliding) true)
    on-end=(action (mut isSliding) false)
    range=range
    start=start}}

    {{#if hasBlock}}
      {{yield}}
    {{/if}}
</div>
